* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.dropbtn {
  background-color: whitesmoke;
  color: #0a223d;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: whitesmoke;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

.dropdown-content a:hover {
  transition: all ease-in-out 0.3s;
  background-color: #0a223d;
  color: white;
  border: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #0a223d;
  transition: all ease-in-out 0.3s;
  border: 1px solid white;
  color: white;
}

.bg-blue {
  background: #0a223d;
}
.header-navigation__list {
  display: flex;
  justify-content: space-between;
}
li {
  padding: 31px 0px;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
li a {
  text-decoration: none;
  color: white;
  border-bottom: 3px transparent;
}
a:hover {
  border-bottom: 5px solid red;
}
#aLogo {
  border: none;
}
.title {
  font-size: 30px;
  font-weight: 700;
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.default_archive {
  float: left;
  width: 100%;
  margin-top: 1.25rem;
}
.featured_articles {
  display: grid;
  float: left;
  width: 100%;
  grid-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
}
.post_item--big {
  grid-row: 1/3;
  grid-column: 1 / span 3;
}
.post_item__thumb {
  position: relative;
  height: var(--thumb-size, 115px);
}
a {
  outline: 0;
  color: inherit;
  text-decoration: none;
}
a:hover {
  border: none;
}
.thumb_holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post_item__content {
  display: flex;
  flex: 1;
  background-color: whitesmoke;
  flex-direction: column;
  padding: 0.75rem;
}
.post_item__title {
  width: 100%;
  line-height: 1.23em;
  margin-bottom: 0.875rem;
}
.post_item__excerpt {
  float: left;
  width: 100%;
  line-height: 1.2em;
  color: #9c9b9b;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.post_item {
  float: left;
  display: flex;
  flex-direction: column;
}
.block_section {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.section_articles {
  float: left;
  width: 100%;
  margin-bottom: 1.25rem;
}
.post_container--flexible_content {
  display: flex;
  flex-wrap: wrap;
}
.post_container--three-columns .post_item {
  float: left;
  width: 33.33%;
  padding: 0 0.625rem;
  margin-bottom: 1.25rem;
}
.post_item__thumb {
  height: 15.3125rem;
}
footer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #0a223d;
  width: 100%;
  float: left;
}
.footer-top {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 15px;
  width: 100%;
  float: left;
}
.social-media {
  display: -webkit-inline-box;
}
.visible {
  opacity: 1;
}
.ft-title {
  width: 100%;
  float: left;
  margin: 0px 0px 30px 14px;
}
.ft-title h5 {
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.firstColumn {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 41.6%;
}
.footer-top ul li {
  color: white;
  width: 100%;
}
.secondColumn {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 33.3%;
}
.thirdColumn {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
}
.footer-bottom {
  font-size: 16px;
  color: white;
  text-align: center;
}
.social-media {
  border-top: 2px solid white;
}
.fa-map-marker::before {
  margin-right: 10px;
}
.fa-home::before {
  margin-right: 10px;
}
.fa-phone::before {
  margin-right: 10px;
}
.fa-fax::before {
  margin-right: 10px;
}
.fa-address-book::before {
  margin-right: 10px;
}
.fa-envelope::before {
  margin-right: 10px;
}
.fa-sitemap::before {
  margin-right: 10px;
}
.fa-facebook::before {
  margin-right: 30px;
  font-size: 25px;
}
.fa-instagram::before {
  margin-right: 30px;
  font-size: 25px;
}
.fa-twitter::before {
  margin-right: 30px;
  font-size: 25px;
}
.fa-youtube::before {
  margin-right: 30px;
  font-size: 25px;
}
.fa-linkedin::before {
  font-size: 25px;
}
.social-media__links:hover {
  border: none;
}
@media only screen and (max-width: 390px) {
  #search {
    display: none;
  }
  button {
    display: none;
  }
  body.open {
    overflow: hidden;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    z-index: 4;
  }
  .hamburger span {
    height: 4px;
    width: 30px;
    border-radius: 5px;
    margin-bottom: 5px;
    background: red;
    transition: all 300ms ease-in-out;
  }
  .logo {
    z-index: 4;
  }
  .hamburger span:last-child {
    margin-bottom: 0;
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 50px;
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 50px;
  }
  form.example {
    display: none;
  }
  .hotel-section__rattings {
    padding: 0px 6px;
  }
  .hotel-section__rattings p.medium {
    font-size: 12px;
    line-height: 1em;
  }
  .bg-blue {
    position: fixed;
    top: -100%;
    left: 0;
    opacity: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(7, 18, 32, 0.95);
    transition: all 0.5s;
  }
  .bg-blue--open {
    top: 0;
    opacity: 1;
    z-index: 2;
  }
  .header-navigation__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-navigation__list li a {
    padding: 13px 0px;
  }
  .header-wrapper {
    border-bottom: 2px solid #0a223d;
  }
  .footer-box {
    margin: 10px 0 10px 0;
  }
  .col-lg-5 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .col-lg-4 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .col-lg-3 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .post_container--three-columns .post_item {
    width: 100%;
  }
}
