* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
h2{
    margin-top: 25px;
    text-align: center;
}
.form{
    background-color: whitesmoke;
    margin-top: 50px;
    padding-left: 45%;
}
input{
    width: 30%;
    padding: 5px 8px;
}
.editButton{
    text-align: center;
    font-weight: bold;
    background-color: #0a223d;
    color: white;
    border-radius: 4px;
}
.editButton:hover{
    background-color: green;
    color: white;
    transition: all ease-in-out 0.3s;
}